* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  text-align: right;
  font-family: "Arial (Hebrew)", Arial;
  line-height: 1;
}

header {
  width: 100%;
  background-image: linear-gradient(#909090 90%, #aaa);
}

#mainFrame {
  width: 100%;
  height: 700px;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
}

.search {
  float: left;
  margin-top: 25px;
  margin-left: 260px;
  z-index: 300;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}

a.src-btn {
  float: left;
  height: 19px;
  width: 19px;
  background: url("images/search_button.png") 0 0 no-repeat;
}

.input {
  float: left;
  background: url("images/search_input.png") 0 0 no-repeat;
  width: 132px;
  height: 19px;
}

.input > input {
  width: 126px;
  background: transparent;
  border: 0 none;
}

.search > .language {
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 19px;
  margin-top: 5px;
}

.search > .language::after {
  content: "";
  clear: both;
  display: table;
}

div.menu {
  width: 900px;
  height: 105px;
  position: relative;
  z-index: 100;
  margin: auto;
}

div.menu > nav > ul {
  height: 33px;
  position: absolute;
  bottom: 0;
}

nav > ul > li {
  height: 100%;
  display: block;
  float: right;
  list-style: none;
}

a.home-logo {
  display: block;
  width: 17px;
  height: 100%;
  background: url("images/menu_home.png") -17px 0 no-repeat;
}

a.home-logo:hover {
  background: url("images/menu_home.png") 0 0 no-repeat;
}

nav > ul > li > a {
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

nav > ul > li > a:visited {
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

li.sep {
  height: 21px;
  width: 4px;
  margin: 0 16px;
  text-align: center;
  color: #bcbcbc;
}

li.sep::after {
  content: "|";
}

.paz-logo {
  display: block;
  width: 142px;
  height: 93px;
  float: right;
  margin-top: -40px;
  background: url("images/paz_logo.png") 0 0 no-repeat;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-image: linear-gradient(to top, #909090 85%, #aaa);
  top: 33px;
}

.dropdown-content > li {
  list-style: none;
  padding: 0 5px;
}

.dropdown-content > li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.dropdown-content > li:hover {
  background-color: #bcbcbc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.hover:hover {
  text-decoration: underline;
  color: #005ca0 !important;
}

.main {
  margin-top: 30px;
  position: relative;
}

.row {
  display: block;
  width: 100%;
}

.row.small {
  margin-top: 18px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column-big {
  z-index: 10;
  width: 293px;
  height: 355px;
  float: right;
  position: relative;
}

.column-big.margins {
  margin: 0 10px;
}

.column-big > img {
  border: 0;
  border-bottom-right-radius: 25px;
}

.column-big .white-text {
  width: 228px;
  height: 77px;
  padding: 10px;
  color: #fff;
  background-color: #72716d;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.white-text > h3 {
  font-size: 14px;
  font-weight: bold;
}

.white-text p {
  font-size: 13px;
  margin-top: 4px;
}

.white-text a {
  float: left;
  color: #fff;
  position: relative;
  bottom: 4px;
  font-size: 13px;
  text-decoration: underline;
  padding-left: 12px;
  background: url("images/read_more_white.png") no-repeat left center;
}

.white-text a:hover {
  color: #005ca0;
  background: url("images/read_more_blue.png") no-repeat left center;
}

.column-small {
  float: right;
  width: 244px;
  padding: 0 24px;
  height: 216px;
  background: url(images/small_cube_bg.png) no-repeat 0 0;
  border-top-right-radius: 20px;
  background-color: #575757;
}

.column-small.margins {
  margin: 0 11px;
}

.column-small > h3 {
  right: 4px;
  position: relative;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.column-small > img {
  height: 110px;
  width: 250px;
}

a.read-more {
  margin-top: 20px;
  padding-left: 12px;
  float: left;
  color: #72716d;
  font-size: 13px;
  text-decoration: underline;
  background: url("images/read_more_yellow.png") no-repeat left center;
}

a.read-more:hover {
  color: #005ca0;
  background: url("images/read_more_blue.png") no-repeat left center;
}

.column-small .map {
  float: left;
  border: 0;
}

.column-small ul {
  float: right;
  list-style: none;
  text-align: right;
}

a.link {
  color: #72716d;
  font-size: 13px;
  padding-left: 12px;
  background: url("images/read_more_yellow.png") no-repeat left center;
}

a.link:hover {
  color: #005ca0;
  background: url("images/read_more_blue.png") no-repeat left center;
}

.footer {
  width: 100%;
  height: 38px;
  background-color: #909090;
  position: fixed;
  bottom: 0;
}
footer {
  width: 900px;
  margin: 0 auto;
}

footer > ul {
  height: 100%;
  color: #fff;
  list-style: none;
  margin-top: 16px;
  font-size: 14px;
}

footer > ul > li {
  height: 100%;
  display: block;
  float: right;
}

footer > ul > li:hover > a {
  color: #005ca0;
  text-decoration: underline;
}

footer > ul > li > img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

footer > ul > li > a {
  color: #fff;
  text-decoration: none;
}
a.red {
  color: red;
}

li.sep-min {
  height: 21px;
  width: 4px;
  margin: 0 5px;
  text-align: center;
}

li.sep-min::after {
  content: "|";
}

.column {
  display: block;
  float: right;
  /* border: solid black 1px; */
  width: 30%;
  height: 100%;
  position: relative;
}

.column.side-menu {
  width: 122px;
  margin-left: 22px;
}

.column.side-menu > ul {
  border-top: 1px solid #dedede;
}

.column.side-menu > ul > li {
  list-style: none;
  display: block;
  width: 122px;
  min-height: 36px;
}

.column.side-menu > ul > li > a {
  display: block;
  width: 110px;
  height: 36px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 4px;
  color: #5c5c5c;
  line-height: 32px;
  background: url("images/side_menu_sprite.png") no-repeat -122px 0;
  text-decoration: none;
}

.column.side-menu > ul > li > a.hover:hover {
  text-decoration: underline;
  color: #005ca0;
}

.column.contact-form {
  margin-left: 24px;
  color: #72716d;
  font-size: 12px;
  width: 50%;
}

ul.breadcrumb {
  display: block;
  font-size: 12px;
  color: #5c5c5c;
  margin-bottom: 25px;
  list-style: none;
}

ul.breadcrumb::after {
  content: "";
  clear: both;
  display: table;
}

ul.breadcrumb > li {
  float: right;
  margin-right: 5px;
}

ul.breadcrumb li + li:before {
  content: ">";
  padding-left: 5px;
}

ul.breadcrumb > li > a {
  outline: none;
  text-decoration: none;
  color: #5c5c5c;
}

ul.breadcrumb > li > a:hover {
  text-decoration: underline;
  color: #005ca0;
}

.column.contact-form h1 {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 12px;
  padding-bottom: 4px;
}

div.form {
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #cccccc;
  width: 347px;
  min-height: 332px;
  padding: 12px 18px;
  background: #ffffff;
  /* background: linear-gradient(top, #ffffff 0%, #f7f7f7 49%, #f7f7f7 51%, #ececec 100%); */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #f7f7f7 49%,
    #f7f7f7 51%,
    #ececec 100%
  );
  border-top-right-radius: 20px;
  color: #72716d;
  font-size: 12px;
}
div.form h2 {
  color: #005ca0;
  font-weight: bold;
  font-size: 15px;
}
div.form .caption {
  display: block;
  color: #6d6d6d;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0;
}
div.form .instructions {
  color: #72716d;
  font-size: 12px;
}
div.form .fields {
  width: 245px;
  margin: 10px auto 0;
}
div.form .fields > .line {
  margin-bottom: 5px;
  display: block;
}
div.form .fields > .line::after {
  content: "";
  clear: both;
  display: block;
}
div.form .fields > .line > label {
  color: #6d6d6d;
  width: 75px;
  text-align: right;
  float: right;
}
div.form .fields > .line > input[type="text"] {
  width: 160px;
  padding: 3px;
  border: 1px solid #808992;
  float: right;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
div.form .fields > .line > textarea {
  float: right;
  color: #6d6d6d;
  width: 235px;
  height: 100px;
  padding: 3px;
  border: 1px solid #808992;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
div.form .fields > a {
  top: 0;
  position: relative;
  height: 21px;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family: "Arial (Hebrew)", Arial;
  padding-left: 8px;
}
div.form .fields > a > span {
  float: right;
  height: 100%;
}
span.button-right {
  background: url("images/button_r.png") no-repeat 0 0;
  width: 6px;
}

span.button-text {
  font-size: 14px;
  color: #fff;
  background: url("images/button_blue.png") repeat-x 0 0;
  line-height: 21px;
  padding: 0 4px;
}
span.button-left {
  background: url("images/button_l.png") no-repeat 0 0;
  width: 6px;
}
