* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  text-align: right;
  font-family: "Arial (Hebrew)", Arial;
  line-height: 1;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
}

.search {
  position: relative;
  top: 50px;
  left: -680px;
  display: inline-block;
  /* z-index: 300; */
}

a.src-btn {
  float: left;
  height: 19px;
  width: 19px;
  background: url("images/search_button.png") 0 0 no-repeat;
}

.input {
  float: left;
  background: url("images/search_input.png") 0 0 no-repeat;
  width: 132px;
  height: 19px;
}

.input > input {
  width: 126px;
  background: transparent;
  border: 0 none;
}

.search > .language {
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 19px;
  margin-top: 5px;
}

.search > .language::after {
  content: "";
  clear: both;
  display: table;
}

div.menu {
  width: 100%;
  height: 105px;
  position: relative;
  /* z-index: 100; */
  margin: auto;
  background-image: linear-gradient(#909090 90%, #aaa);
}

div.menu > nav > ul {
  margin: auto;
  height: 33px;
  position: absolute;
  bottom: 0;
}

nav > ul > li {
  height: 100%;
  display: block;
  float: right;
  list-style: none;
}

a.home-logo {
  display: block;
  width: 17px;
  height: 100%;
  background: url("images/menu_home.png") -17px 0 no-repeat;
}

a.home-logo:hover {
  background: url("images/menu_home.png") 0 0 no-repeat;
}

nav > ul > li > a {
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

nav > ul > li > a:visited {
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

li.sep {
  height: 21px;
  width: 4px;
  margin: 0 16px;
  text-align: center;
  color: #bcbcbc;
}

li.sep::after {
  content: "|";
}

.paz-logo {
  display: block;
  width: 142px;
  height: 93px;
  float: right;
  margin-top: -40px;
  background: url("images/paz_logo.png") 0 0 no-repeat;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-image: linear-gradient(to top, #909090 85%, #aaa);
  top: 33px;
}

.dropdown-content > li {
  list-style: none;
  /* float: none; */
  padding: 0 5px;
}

.dropdown-content > li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.dropdown-content > li:hover {
  background-color: #bcbcbc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.hover:hover {
  text-decoration: underline;
  color: #005ca0;
}

.main {
    margin-top: 30px;
    position: relative;
}

.row {
    display: block;
    width: 100%;
}

.row.small {
    margin-top: 18px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column-big {
    /* z-index: 10; */
    width: 293px;
    height: 355px;
    float: right;    
}

.column-big.margins {
    margin: 0 10px;
}

.column-big > img {
    border: 0;
    border-bottom-right-radius: 25px;
}

.column-small {
    float: right;
    width: 244px;
    padding: 0 24px;
    height: 216px;
    background: url(images/small_cube_bg.png) no-repeat 0 0;
    border-top-right-radius: 20px;
    background-color: #575757;
}

.column-small.margins {
    margin: 0 11px;
}

.column-small>h3 {
    right: 4px;
    position: relative;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.column-small > img {
    height: 110px;
    width: 250px;
}

a.read-more {
    margin-top: 20px;
    padding-left: 12px;
    float: left;
    color: #72716d;
    font-size: 13px;
    text-decoration: underline;
    background: url("images/read_more_yellow.png") no-repeat left center;
}

a.read-more:hover {
    color: #005ca0;
    background: url("images/read_more_blue.png") no-repeat left center;
}

.column-small .map {
    float: left;
    border: 0;
}

.column-small ul {
    float: right;
    list-style: none;
    text-align: right;
}

a.link {
    color: #72716d;
    font-size: 13px;
    padding-left: 12px;
    background: url("images/read_more_yellow.png") no-repeat left center;
}

a.link:hover {
    color: #005ca0;
    background: url("images/read_more_blue.png") no-repeat left center;
}